.tinderCards {
	width: 100%;
	height: 100px;
}

.tinderCards__cardContainer {
	display: flex;
	justify-content: center;
	margin-top: 7vh;
}

.tinderCards__card {
	position: relative;
	width: 450px;
	padding: 20px;
	max-width: 85vw;
	height: 70vh;
	box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	background-size: cover;
	background-position: center;
}

.tinderCards__card.card1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.companyProfile {
	margin-top: 5vw;
	font-size: 20px;
}

.analytics {
	display: flex;
	flex-direction: row;
}

.analyticsTitle {
	font-size: 25px;
	font-weight: bold;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
}
.grid-item {
	padding: 20px;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
}
.grid-item.title {
	padding-top: 0;
	font-weight: normal;
}

.tinderCards__swipe {
	position: absolute;
	opacity: 100%;
	background-color: white;
	border-radius: 25px;
}

.news.tinderCards__card {
	overflow: scroll;
}

.news.story {
	padding: 20px 10px;
}

.story.title {
	flex-direction: row;
	justify-content: center;
	font-style: bold;
}

img.story {
	height: 50px;
	display: inline;
	float: left;
	padding: 5px 15px;
}

.story.source {
	/*
	color: rgb(79, 79, 79);
	font-size: 14px; */
	font-style: bold;
}

.news.story > * {
	padding: 1px;
}

.story.summary {
	padding: 5px;
}

.story.date {
	padding-left: 5px;
	color: rgb(79, 79, 79);
	font-size: 12px;
}

a.news {
	color: blue;
	max-height: 5px;
	font-style: bold;
}

.stock__logo {
	max-height: 50%;
	max-width: 50%;
	/* height: 50%; */
}
